#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
// #include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_BASE 1
#define TBLE_ORTHO   1
#define RAI_L 1
#define LOW_L 2
#define FUN_L 3
#define NUM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

#define BT(n) BT_SEL n

/ {
    chosen { zmk,matrix_transform = &ortho_transform; };

    combos {
        compatible = "zmk,combos";

        // Key Positions
        // -------------------------------------------------------------------------------------------------------------
        // |   0    |   1    |   2    |   3    |   4    |   5    |   6    |   7    |   8    |   9    |   10   |   11   |
        // |   12   |   13   |   14   |   15   |   16   |   17   |   18   |   19   |   20   |   21   |   22   |   23   |
        // |   24   |   25   |   26   |   27   |   28   |   29   |   20   |   31   |   32   |   33   |   34   |   35   |
        // |   36   |   37   |   38   |   39   |   40   |   41   |   42   |   43   |   44   |   45   |   46   |   47   |

        esc {
            bindings = <&kp ESC>;
            key-positions = <19 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // --------------------------------------------------------------------------------------------------
            // |  ALT   |   Q   |   W   |   E   |   R   |   T   |   Y   |   U   |   I   |   O   |   P   |  \ |  |
            // |  SFT   |   A   |   S   |   D   |   F   |   G   |   H   |   J   |   K   |   L   |   ;   |  ' "  |
            // |  Ctrl  |   Z   |   X   |   C   |   V   |   B   |   N   |   M   |   , < |   . > |   / ? |  FUN  |
            // |        |       |       |  GUI  |  LOW  |  SPC  |  ENT  |  RAI  |  SFT  |       |       |       |

            label = "Base";
            bindings = <
&kp LEFT_ALT    &kp Q  &kp W        &kp E         &kp R      &kp T      &kp Y    &kp U       &kp I       &kp O            &kp P     &kp BSLH
&kp LEFT_SHIFT  &kp A  &kp S        &kp D         &kp F      &kp G      &kp H    &kp J       &kp K       &kp L            &kp SEMI  &kp SQT
&kp LCTRL       &kp Z  &kp X        &kp C         &kp V      &kp B      &kp N    &kp M       &kp COMMA   &kp DOT          &kp FSLH  &mo 3
&tog 4          &none  &kp LA(TAB)  &kp LEFT_GUI  &lt 1 TAB  &kp SPACE  &kp RET  &lt 2 BSPC  &kp RSHIFT  &kp LC(LA(DEL))  &none     &kp LG(L)
            >;
        };

        raise_layer {
            // --------------------------------------------------------------------------------------------------
            // |  ~ `   |   F1  |   F2  |   F3  |   F4  |   F5  |   F6  |   F7  |   F8  |   F9  |  F10  |  F12  |
            // |        |   1   |   2   |   3   |   4   |   5   |   6   |   7   |   8   |   9   |   0   |       |
            // |        |       |       |   = + |   [   |   {   |   }   |   ]   |   - _ |       |       |       |
            // |        |       |       |  GUI  |  LOW  |  SPC  |  ENT  |  RAI  |  SFT  |       |       |       |

            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3     &kp F4     &kp F5     &kp F6    &kp F7      &kp F8      &kp F9  &kp F10  &kp F12
&trans     &kp N1  &kp N2  &kp N3     &kp N4     &kp N5     &kp N6    &kp N7      &kp N8      &kp N9  &kp N0   &none
&trans     &none   &trans  &kp EQUAL  &kp LBKT   &kp LBRC   &kp RBRC  &kp RBKT    &kp MINUS   &trans  &trans   &trans
&trans     &none   &trans  &kp LGUI   &lt 1 TAB  &kp SPACE  &kp RET   &lt 2 BSPC  &kp RSHIFT  &none   &none    &none
            >;

            label = "Raise";
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------
            // |        |  DEL  | HOME  | PGUP  |       |       |       |       |   UP  |       |       |       |
            // |        |  INS  |  END  | PGDN  |       |       | MUTE  | LEFT  | DOWN  | RIGHT |       |       |
            // |        |       |       |       |       |       | MPLY  | MPRV  | MNXT  |  VOLD |  VOLU |  FUN  |
            // |        |       |       |  GUI  |  LOW  |  SPC  |  ENT  |  RAI  |  SFT  |       |       |       |

            bindings = <
&trans  &kp DEL  &kp HOME  &kp PG_UP  &none   &none   &none       &none       &kp UP      &none         &none         &trans
&trans  &kp INS  &kp END   &kp PG_DN  &none   &none   &kp C_MUTE  &kp LEFT    &kp DOWN    &kp RIGHT     &none         &trans
&trans  &none    &none     &none      &none   &none   &kp C_PP    &kp C_PREV  &kp C_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &trans
&trans  &none    &none     &trans     &trans  &trans  &trans      &trans      &trans      &none         &none         &none
            >;

            label = "Lower";
        };

        func_layer {
            // --------------------------------------------------------------------------------------------------
            // |        |  USB  |  POW  |  BTP  |  BTN  |  BTC  |       |       | WSNU  |       |       |       |
            // | caltd  |  BLE  |       |       |       |       |       | WSNL  | WSND  | WSNR  |       |       |
            // |  Ctrl  |  BT0  |  BT1  |  BT2  |  BT3  |  BT4  | WLCK  |  RST  | BOOT  |       |       |  FUN  |
            // |        |       |       |  GUI  |  LOW  |  SPC  |  ENT  |  RAI  |  SFT  |       |       |       |

            bindings = <
&soft_off  &out OUT_USB  &ext_power EP_TOG  &bt BT_PRV    &bt BT_NXT    &bt BT_CLR    &none   &none         &kp LG(UP_ARROW)    &none          &trans  &trans
&trans     &out OUT_BLE  &none              &none         &none         &none         &none   &kp LG(LEFT)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT)  &trans  &trans
&trans     &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &sys_reset    &bootloader         &trans         &trans  &trans
&trans     &none         &none              &trans        &trans        &trans        &trans  &trans        &trans              &none          &none   &none
            >;

            label = "System";
        };

        num_layer {
            // --------------------------------------------------------------------------------------------------
            // |        |       |       |       |       |       |   -   |   +   |   7   |   8   |   9   |       |
            // |        |       |       |       |       |       |   *   |   /   |   4   |   5   |   6   |       |
            // |        |       |       |       |       |       |       |   %   |   1   |   2   |   3   |  FUN  |
            // |        |       |       |  GUI  |  LOW  |  SPC  |  ENT  |  RAI  |  SFT  |   0   |   .   |       |

            label = "Num";
            bindings = <
&none   &none  &none  &none   &none   &none   &kp KP_MINUS     &kp KP_PLUS    &kp N7  &kp N8  &kp N9   &none
&none   &none  &none  &none   &none   &none   &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp N4  &kp N5  &kp N6   &none
&tog 0  &none  &none  &none   &none   &none   &none            &kp PERCENT    &kp N1  &kp N2  &kp N3   &trans
&tog 4  &none  &none  &trans  &trans  &trans  &trans           &trans         &trans  &kp N0  &kp DOT  &kp KP_EQUAL
            >;
        };
    };
};
